.App {
  text-align: center;
}

.Stimulus {
  font-size: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.Response {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 65px;
}
.Responses {
  display: inline-flex;
}
