.App {
  text-align: center;
  background-color: light-gray;
  font-weight: bold;
}

.Stimulus {
  font-size: 180px;
  padding-top: 40px;
  padding-bottom: 70px;
}

.Response {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 165px;
}
.Responses {
  display: inline-flex;
}
